{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}


{% block baner %}

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="{% static "home/img/bg.jpg" %}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
{#							<a href="#" class="site-btn sb-line">DISCOVER</a>#}
{#							<a href="#" class="site-btn sb-white">ADD TO CART</a>#}
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="{% static "home/img/bg 2.jpg" %}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
{#							<a href="#" class="site-btn sb-line">DISCOVER</a>#}
{#							<a href="#" class="site-btn sb-white">ADD TO CART</a>#}
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->



	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static "home/img/icons/1.png" %}" alt="#">
						</div>
						<h2>Fast Secure Payments</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static "home/img/icons/2.png" %}" alt="#">
						</div>
						<h2>Premium Products</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static "home/img/icons/3.png" %}" alt="#">
						</div>
						<h2>Free & fast Delivery</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->
{% endblock %}

{% block content %}
    <!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>BROWSE CATEGORYWISE SELLING PRODUCTS</h2>
			</div>

			 <div class="product-slider owl-carousel">
                 <li {% if not category %} class="active"{% endif %}><a href="{% url 'shop:product_list' %}">All</a></li>
            {% for c in categories %}

                 <div class="product-item">
              <li {% if category.slug == c.slug %} class="active"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
                  </div>

            {% endfor %}
  </div>
{#			</ul>#}

{#  <td>{{ current_page.start_index|add:forloop.counter0 }}</td>#}
			<div class="row">
{#  <td>{{ current_page.start_index|add:forloop.counter0 }}</td>#}
{% for product in  current_page %}

{#{% for product in products %}#}
{#  <td>{{ current_page.start_index|add:forloop.counter0 }}</td>#}

                <div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
{#							<img src="{% static "home/img/product/5.jpg" %}" alt="">#}
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 200px; width: auto">
                            </a>
							<div class="pi-links">
{#								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>#}
{#								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>#}
							</div>
						</div>
						<div class="pi-text">
{#							<h6>$35,00</h6>#}
							<p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a> </p>
						</div>
					</div>
				</div>
{#{% endfor %}#}
{% endfor %}



			</div>

{#			<div class="text-center pt-5">#}
{#				<button class="site-btn sb-line sb-dark">LOAD MORE</button>#}
{#			</div>#}
                  {% if is_paginated %}
         <nav>
            <ul class="pagination">
                {% if current_page.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ current_page.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for page in paginator.page_range %}
                    <li class="page-item {% if page == current_page.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}
                {% if current_page.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ current_page.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}

		</div>
	</section>




   {% endblock %}